auto-save-list
url/
.org-id-locations
\#*
*.o
*.so
*.RData
*.nav
*.aux
*.log
*.toc
*.snm
*.out
*.swp
.DS_Store
.directory
inputDionysus.txt
outputDionysus.txt
myres
node_modules
ltxpng
octave_workspace
octave-workspace
*~
.#*
\#*\#
*.log
.Rhistory
ltximg/
